

<div class="row">

 

		<div class="row featurette">
		        <div class="col-md-2">
			        <%= link_to image_tag("logo-140.png", alt: "Rails"), 'http://rubyonrails.org/'%>
		        </div>
		        <div class="col-md-6">
		          <h2>Oh yeah, it's that good. </h2>
		          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>

		        </div>
    </div>

 




</div> 


 
