<footer class="footer">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>  <small>

   	由 Michael Hartl, zeng 创建
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于我们",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">新闻</a></li>
    </ul>
  </nav>
</footer>